<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Thea-Ky</title>
</head>
  
<body>
  {% include 'nav.html' %}
  <div class="container">
  <h1 class="text-center mt-2 mb-4">Poo Shon</h1>
  <img class="img-fluid" src="/static/hello.png" id="banner">
  
  <h2 class="text-center mt-4 mb-3">About Poo Shon</h2>
<div class="row" style="margin-bottom: 16px">

  <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam doloribus nam quo quis eligendi distinctio repellat vel, molestiae molestias voluptates fuga impedit libero? Nihil distinctio, tenetur laboriosam optio exercitationem vel.
  </p>
      
    <img src="/static/tired-employee.png" style="height:300px; border-radius: 4px;">

  <h2 class="text-center mt-2 mb-4">Experience</h2>
  
  <div>
      {% for exp in exps %}
        {% include 'experience.html' %} 
      {% endfor %}
    </div>
</div>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href=" mailto:thea-ky.org?body=Name%3A%0D%0ADescription%3A%0D%0ABest%20contact%20time%3A ">Contact Me</a>
      
    </div>
    </div>
  {% include 'footer.html' %}
</body>
</html>
